# Упражнение 01 : Основные операции

In [22]:
import pandas as pd

## создайте фрейм данных с двумя столбцами: дата и время и пользователь, прочитав файл feed-views.log

* преобразуйте datetime в Dtype datetime64[ns]

In [23]:
df = pd.read_csv('../data/feed-views.log', sep='\t', skiprows=[2, 3], skipfooter=2,
                 names=['datetime', 'user'], engine='python', parse_dates=['datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1072 non-null   datetime64[ns]
 1   user      1072 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 16.9+ KB

* извлеките год, месяц, день, час, минуту и секунду из значений этого столбца в новые столбцы

In [24]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second
df.head()

                    datetime    user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179   artem  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946   artem  2020      4   17    12       1      23
2 2020-04-17 12:35:52.735016   artem  2020      4   17    12      35      52
3 2020-04-17 12:36:21.401412  oksana  2020      4   17    12      36      21
4 2020-04-17 12:36:22.023355  oksana  2020      4   17    12      36      22

## создайте новый столбец daytime

* вам нужно присвоить конкретное значение времени суток, если час находится в определённом интервале, например, если час больше 11 и меньше или равен 17
* 0 — 3.59 ночи, 4 — 6.59 раннее утро, 7 — 10.59 утро, 11 — 16.59 день, 17 — 19.59 раннее вечернее время, 20 — 23.59 вечернее время
* используйте метод cut для решения этой подзадачи
* назначьте столбец user в качестве индекса

In [25]:
df['daytime'] = pd.cut(df['hour'],
                      bins=[-1, 3, 6, 10, 16, 19, 23],
                      labels=['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening'])
df.set_index('user', inplace=True)
df.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
oksana,2020-04-17 12:36:21.401412,2020,4,17,12,36,21,afternoon
oksana,2020-04-17 12:36:22.023355,2020,4,17,12,36,22,afternoon

## вычислите количество элементов в вашем фрейме данных

* используйте метод count()

In [26]:
df.count()

datetime    1072
year        1072
month       1072
day         1072
hour        1072
minute      1072
second      1072
daytime     1072
dtype: int64

* вычислите количество элементов в каждой категории времени суток с помощью метода value_counts()

In [27]:
df['daytime'].value_counts()

daytime
evening          508
afternoon        250
early evening    145
night            129
morning           35
early morning      5
Name: count, dtype: int64

## отсортируйте значения в вашем фрейме данных по часам, минутам и секундам в порядке возрастания (одновременно, а не по одному)

In [28]:
df.sort_values(by=['hour', 'minute', 'second'], inplace=True)
df.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night

## рассчитайте минимум и максимум для часов и режима для категорий дневного времени

* рассчитайте максимальное количество часов для строк, где время суток равно ночи

In [29]:
max_night = df[df['daytime'] == 'night']['hour'].max()
max_night

np.int32(3)

* рассчитайте минимальное количество часов для строк, где время суток - утро

In [30]:
min_morning = df[df['daytime'] == 'morning']['hour'].min()
min_morning

np.int32(8)

* Кроме того, выясните, кто посещал страницу в эти часы (приведите один пример)

In [31]:
df[df['hour'] == max_night]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-19 03:23:35.471598,2020,4,19,3,23,35,night
konstantin,2020-04-19 03:23:55.473926,2020,4,19,3,23,55,night
konstantin,2020-04-19 03:33:07.757714,2020,4,19,3,33,7,night

In [32]:
df[df['hour'] == min_morning]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning

* рассчитайте режим для часа и дневного времени

In [33]:
df['hour'].mode()

0    22
Name: hour, dtype: int32

In [34]:
df['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

## Выведите 3 самых ранних часа утра и соответствующие имена пользователей, а также 3 самых поздних часа и имена пользователей с помощью функций nsmallest() и nlargest()

In [35]:
smallest = df[df['daytime'] == 'morning']
smallest.nsmallest(n=3, columns='hour')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
alexander,2020-05-15 09:02:24.999438,2020,5,15,9,2,24,morning

In [36]:
largest = df[df['daytime'] == 'morning']
largest.nlargest(n=3, columns='hour')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-05-16 10:02:08.925840,2020,5,16,10,2,8,morning
maxim,2020-05-14 10:08:04.832361,2020,5,14,10,8,4,morning
maxim,2020-05-14 10:08:05.726956,2020,5,14,10,8,5,morning

## используйте метод describe(), чтобы получить базовую статистику по столбцам

* чтобы узнать, какой интервал посещения страницы является самым популярным, вычислите межквартильный размах для часа, извлекая значения из результата метода describe() и сохраняя их в переменной iqr

In [37]:
date = df.describe()
iqr = date['hour']['75%'] - date['hour']['25%']
iqr

np.float64(9.0)