# Упражнение 02 : Предварительная обработка

In [1]:
import pandas as pd

## загрузите и прочитайте CSV-файл, а ID сделайте индексным столбцом

In [2]:
auto = pd.read_csv('../data/auto.csv', sep=',', index_col='ID')
auto.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

## подсчитайте количество наблюдений с помощью метода count()

In [3]:
auto.count(axis='index')

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## удалите дубликаты, учитывая только следующие столбцы: номер автомобиля, марка и модель, штрафы

* между двумя равными наблюдениями вам нужно выбрать последнее
* проверьте количество наблюдений еще раз

In [4]:
auto.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last', inplace=True)
auto.count(axis='index')

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## работа с пропущенными значениями

* проверьте, сколько значений отсутствует в каждом столбце

In [5]:
auto.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

* удалите все столбцы, в которых более 500 пропущенных значений, используя аргумент thresh, проверьте, сколько пропущенных значений в каждом столбце

In [6]:
auto.dropna(thresh=500, axis='columns', inplace=True)
auto.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

* замените все пропущенные значения в столбце «Возврат» предыдущим значением в этом столбце для этой ячейки, используйте метод аргумента, проверьте, сколько значений пропущено в каждом столбце

In [7]:
auto['Refund'] = auto['Refund'].fillna(method='ffill')
auto.isna().sum()

C:\Users\MMaratR\AppData\Local\Temp\ipykernel_320\4091109110.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  auto['Refund'] = auto['Refund'].fillna(method='ffill')

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

* замените все пропущенные значения в столбце «Штрафы» на среднее значение этого столбца (при вычислении среднего значения исключите значения NA/null), проверьте, сколько значений пропущено в каждом столбце

In [8]:
auto['Fines'] = auto['Fines'].fillna(value=auto['Fines'].mean())
auto.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## разделите и проанализируйте марку и модель

* используйте метод apply как для разделения, так и для извлечения значений в новые столбцы «Производитель» и «Модель»

In [ ]:
auto['Make'] = auto['Make_n_model'].apply(lambda a: a.split(' ')[0])
auto['Model'] = auto['Make_n_model'].apply(lambda a: a.split(' ')[1] if len(a.split(' ')) == 2 else None)

* удалите столбец Make_n_model

In [ ]:
auto.drop(['Make_n_model'], inplace=True, axis='columns')

* сохраните фрейм данных в JSON-файле auto.json в приведенном ниже формате:

In [10]:
auto.to_json('../data/auto.json', orient='records')